.informacion {
    display: flex;
    gap: 20px;
}

/* Columna 1: 20% del ancho */
.columna {
    flex: 0 0 33%; 
}

/* Columna 2: el resto del espacio */
.columna:last-child {
    flex: 1; /* Resto del espacio disponible */
}

/* Estilo para cada columna */
.columna {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para los mensajes */
#mensaje {
    display: block;
    margin-top: 20px;
    color: green;
    font-size: 1.2rem;
    font-weight: 600;
}
