.filtro-fecha {
    display: flex;
    flex-direction: column;  /* Organiza los elementos en columna */
    align-items: center;     /* Centra el formulario dentro de su contenedor */
    gap: 15px;               /* Espacio entre las filas */
    width: 30%;              /* Ajusta el ancho del formulario */
    padding: 10px;           /* Espacio interno para el formulario */
    margin: 0 auto;          /* Centra el formulario dentro de su contenedor */
    margin-bottom: 20px;
}

/* Contenedor de filtros en dos columnas */
.fecha-fila {
    display: flex;
    justify-content: center; /* Distribuye los filtros en dos columnas */
    width: 70%;             /* Ocupa todo el ancho disponible */
}

/* Contenedor de cada filtro individual */
.filtro-item {
    display: flex;
    flex-direction: column;  /* Coloca el label encima del input */
    align-items: center;     /* Centra los elementos */
    width: 100%;             /* Hace que cada columna ocupe el 50% del ancho del contenedor */
}

/* Estilo para los labels */
.filtro-item label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px; /* Espacio entre el label y el input */
    text-align: center;  /* Centra el texto del label */
}

/* Estilo para los inputs de fecha */
.filtro-item input[type="date"] {
    padding: 8px 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 180px; /* Asegura que ocupe todo el ancho del filtro */
    box-sizing: border-box;
    background-color: #fff;
    color: #333;
}

/* Contenedor del botón */
.boton-container {
    display: flex;
    justify-content: center; /* Centra el botón */
    width: 100%;
}

/* Estilo para el botón */
.filtro-fecha button {
    background-color: #4b3a2f;
    color: white;
    padding: 12px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 180px;
}

/* Cambio de color cuando el botón es hover */
.filtro-fecha button:hover {
    background-color: #3e2c1c;
}